extends layout

block content
  
  - var total_entries = 0
  if entry_counts
    for v,k in entry_counts
      - total_entries += v
  else
    - total_entries = '?'

  div.jumbotron(style="margin-top:2em")
    h1 Lessiki  
      small A platform for lexica of Maltese
    p.lead
      em Lessiki
      |  is a general, flexible system for storing lexical resources related to the Maltese language.
      | It was set up in order to help us digitise and preserve resources of all kinds in a common database.
      | It currently hosts  
      span.label.label-primary= Object.keys(resources).length
      |  resources, containing a total of  
      span.label.label-info= total_entries
      |  entries.
      | If you have a resource you can contribute, do <a href="http://www.cse.chalmers.se/~cajohn/">get in touch</a> and help us build a rich set of digital resources for Maltese.

    form(role="search",action=baseURL+"/search",method="GET")
      .form-group
        .input-group
          input(type="search",name="s",autofocus="true",placeholder="Search in multiple resources").form-control.input-lg
          .input-group-btn
            //- add data-actions-box="true" when many resources...
            select.selectpicker(
              name="resource",
              multiple,
              title="Select resources",
              data-selected-text-format="count",
              data-count-selected-text="{0} resources selected",
              data-style="btn-default btn-lg"
            )
              for v,k in resources
                option(value=k,selected)= v.name
            button(type="submit").btn.btn-primary.btn-lg
              span.glyphicon.glyphicon-search

  .page-header
    h2 Current resources
  .row
    for v,k in resources
      .col-sm-6
        .media
          .media-body
            h4.media-heading
              a(href=baseURL+"/resources/"+k)= v.name
            p
              em= v.authors.join(", ")
                |  (#{v.year})
            p= v.description
            if v.license
              p.text-muted License: #{v.license}

  .page-header
    h2 About
  p
    | Lessiki is part of the Maltese Language Resource Server (<a href="http://mlrs.research.um.edu.mt/">MLRS</a>).
    | It was built and is maintained by <a href="http://www.cse.chalmers.se/~cajohn/">John J. Camilleri</a>.
