extends layout

block content
  h1= resource.name
  p.lead= resource.description
  
  dl.dl-horizontal
    if resource.authors
      dt Authors
      dd= resource.authors.join(", ")
    if resource.year
      dt Year
      dd= resource.year
    if resource.license
      dt License
      dd= resource.license
  
  .row
    .col-sm-6
      form(role="search",action=baseURL+"/search",method="GET")
        input.hidden(name="resource",value=resource.key)
        .form-group
          .input-group
            input(type="search",name="s",autofocus="true",placeholder="Search in this resource").form-control.input
            .input-group-btn
              button(type="submit").btn.btn-primary.btn
                span.glyphicon.glyphicon-search
    .col-sm-6
      a.btn.btn-success(href=baseURL+"/add?resource="+resource.key)
        +icon('plus', 'Add new entry')
