extends layout

block content
  h1= resource.name
  p.lead= resource.description
  
  ul
    li= resource.authors
    li= resource.year
    li= resource.license
  
  if search.query
    h2 Search for “#{search.query}”
      .badge= search.results.length
              |  results
    div
      .container.striped
        for r in search.results
          .row
            .col-sm-2
              strong= r.lemma
            .col-sm-10
              pre.small.lang-json= JSON.stringify(r, null, 2)
