extends layout

block content
  h1 Search results
    
  form(role="search",action=baseURL+"/search",method="GET")
    .form-group
      .input-group
        input(type="search",name="s",autofocus="true",placeholder="Search in multiple resources",value=search.query).form-control.input-lg
        .input-group-btn
          //- add data-actions-box="true" when many resources...
          select.selectpicker(
            name="resource",
            multiple,
            title="Select resources",
            data-selected-text-format="count",
            data-count-selected-text="{0} resources selected",
            data-style="btn-default btn-lg"
          )
            for v,k in resources
              option(value=k,selected= search.resources.indexOf(k) > -1)= v.name
          button(type="submit").btn.btn-primary.btn-lg
            span.glyphicon.glyphicon-search

  div
    ul.nav.nav-tabs(role='tablist')
      for k,i in search.resources
        li(role='presentation',class=(i==0)?'active':'')
          a(href='#'+k, aria-controls=k, role='tab', data-toggle='tab')= resources[k].name
            .badge= search.results[k].length
    .tab-content
      for k,i in search.resources
          .tab-pane(id=k,role='tabpanel',class=(i==0)?'active':'')
            table.table.table-striped
              thead
              tbody
  script.
    var results = !{JSON.stringify(search.results, null, 2)}
    $(function() {
      var ignore_fields = ['_id','gabra_id']
      for (var resource in results) {
        var resource_results = results[resource]

        // Collect headings
        var headings = ['lemma', 'pos']
        for (var rx in resource_results) {
          var item = resource_results[rx]
          for (var field in item) {
            if (headings.indexOf(field) === -1 && ignore_fields.indexOf(field) === -1) {
              headings.push(field)
            }
          }
        }
        var row = $('<tr>').appendTo($('.tab-pane#' + resource + ' thead').first())
        for (var hx in headings) {
          var field = headings[hx]
          $('<th>').text(field).appendTo(row)
        }
        
        // Add entries
        for (var rx in resource_results) {
          var item = resource_results[rx]
          var row = $('<tr>').appendTo($('.tab-pane#' + resource + ' tbody').first())
          for (var hx in headings) {
            var field = headings[hx]
            var cell = $('<td>').attr('data-field',field).appendTo(row)
            if (item.hasOwnProperty(field)) {
              var value = item[field]
              if (typeof value === 'object') { // includes arrays
                var node = JsonHuman.format(value, {
                  showArrayIndex: false
                })
                cell[0].appendChild(node)
              } else {
                cell.text(value)
              }
            } else {
              cell.text('-')
            }
          }
          // Add edit button
          if (#{user ? true : false}) {
            var edit_link = '/edit?' + $.param({
              resource: resource,
              entity: 'entry',
              id: item['_id']
            })
            row.find('td').first().append(
              ' ',
              $('<a>')
                .addClass('btn btn-warning btn-xs')
                .attr('href', edit_link)
                .html('<span class="glyphicon glyphicon-pencil"></span> Edit')
            )
          }
        }
      }
    })
