extends layout

block content
  h1 Search for “#{search.query}”
    small   in #{search.resources}

  div
    ul.nav.nav-tabs(role='tablist')
      for k,i in search.resources
        li(role='presentation',class=(i==0)?'active':'')
          a(href='#'+k, aria-controls=k, role='tab', data-toggle='tab')= resources[k].name
            .badge= search.results[k].length

    .tab-content
      for k,i in search.resources
          .tab-pane(id=k,role='tabpanel',class=(i==0)?'active':'')
            .container.striped
              for r in search.results[k]
                .row
                  .col-sm-2
                    strong= r.lemma
                  .col-sm-10
                    pre.small.lang-json= JSON.stringify(r, null, 2)
